/*common*/
.p{
  font-family: var(--theme-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1rem 0;
}
/*common*/



.about{
 position: relative;
 width: 100%;
 margin: auto;
}
.fix{
  position: absolute;
}

.container-background{
  height: 100%;
  position: relative;
  background-color: #1d24acb4;

}
.about video{
  position: absolute;
  object-fit: cover;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.about .cover-content {
  color: white;
  z-index: 4;
  align-items: center;
  text-align: center;
  padding: 50px;
  margin: auto;
  background-color: rgba(12, 12, 12, 0.527);
position: relative;
  height: 100%;
}
.about .h1{
 text-align: center;
}
.about .left_align{
  text-align: left !important;
}
.about details{
  background-color: #072b4398;
}
details summary{
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.about li{
  margin: 0.5rem 0;
}

/*CONTAINERS*/

.container{
  width: 70%;
  margin: auto;
  padding-top: 50px;
}
.flex1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex1 div{
  width: 45%;
}


/*CONTAINERS*/








.logo img {
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

button:focus {
  outline: 0 !important;
}
button[disabled] {
  background-color: gray;
}
button[disabled]:hover {
  filter: grayscale(80%);
  background-color: gray;
}
summary:focus {
  outline: 0 !important;
}
details summary {
  cursor: pointer;
}
input:focus {
  outline: none;
}
input {
  box-sizing: border-box;
}

.form {
  text-align: end;
}
.teaf-row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.teaf-card {
  box-shadow: 4px 10px 15px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
hr {
  background-color: #d6d6d6;
  height: 1px;
  border: none;
  margin: 20px 0px;
}
.limit-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.mid-container {
  text-align: center;
  padding: 5px;
  align-items: center;
  margin: auto;
}
.grid-container-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  width: 70%;
  margin: auto;
}
.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  width: 70%;
  margin: auto;
}

.modal-container {
  position: fixed;
  overflow: scroll;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
}
.modal {
  position: sticky;
  width: 50%;
  min-height: 30vw;
  border-radius: 15px;
  padding: 25px;
  margin: 50px auto;
}
.alert {
  color: crimson;
  font-size: 18px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.half {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
}

/*animation /*/
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}
.bouncing-loader {
  display: flex;
  justify-content: center;
}
.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

/*animation ends*/

/* large screen desktop*/
@media only screen and (min-width: 992px) {
  .hide-lg {
    display: none;
  }
}

/*mobile*/

@media only screen and (max-width: 768px) {
  .menu-icon {
    margin: 0px 0;
  }
  .hide-sm {
    display: none;
  }
  .logo {
    width: 30%;
    margin: auto;
  }

  .menu {
    font-size: 3em;
    color: gray;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    z-index: 0;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 50%;
    max-width: 60%;
    padding: 20px;
    z-index: 2;
    display: none;
  }
  .grid-container-4 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    align-content: center;
  }




  .modal {
    width: 70%;
    min-height: 30vw;
    border-radius: 15px;
    padding: 25px;
    margin: 50px auto;
  }
  .half {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
  }
}
